<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
</body>
<body class="with-nav">
    <nav class="site-nav">
        <div class="nav-inner">
            <a class="nav-brand" href="/">Caio Almeida</a>
            <ul>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/disciplinas">Disciplinas</a></li>
                <li><a href="/projetos">Projetos</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </div>
    </nav>

    <div class="completas">Lista de disciplinas terminadas</div>
    <div class="disciplinas">Lista disciplinas restantes do curso</div>
</body>
</html>