<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="projetos">Listagem de projetos com titulo, desc e link. Deve ser enviada como uma lista de objetos (criar uma classe? ou um type/enum?)</div>
</body>
</html>