<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="with-nav">
    <nav class="site-nav">
        <div class="nav-inner">
            <a class="nav-brand" href="/">Caio Almeida</a>
            <ul>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/disciplinas">Disciplinas</a></li>
                <li><a href="/projetos">Projetos</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </div>
    </nav>

    <div class="informacoes">
        <img class="foto-perfil" src="/imgs/foto-perfil.jpg" alt="foto-perfil">
        <div class="desc">
            <p>
                Olá! Sou Caio Rodrigues de Almeida, tenho 21 anos e atualmente estou cursando o 2º semestre de Desenvolvimento de Sistemas na FATEC de São José dos Campos. Apaixonado por tecnologia e programação, estou sempre em busca de novos conhecimentos e desafios na área de desenvolvimento. Atualmente estou à procura de uma oportunidade de estágio para aplicar meus conhecimentos e crescer profissionalmente. 
            </p>

            <p>                
                Além dá área de tecnologia, também adoro música! Já toco há 2 anos um instrumento chamado Viola de Arco, que é um instrumento da família dos violinos. Fiz algumas apresentações em Igrejas e eventos, o que me proporciounou um ótimo desenvolvimento pessoal e a oportunidade de conhecer pessoas incríveis ao longo do caminho.
            </p>
        </div>
    </div>

</body>
</html>